@page
@{
    ViewBag.Title = "Json";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    string json = HttpContextAccessor.HttpContext.Session.GetString("Json");
}

<a>@json</a>